<div style="height: 100vh; background-image: url(../../../assets/header.jpg); background-size: cover; background-position: center;" class="position-relative w-100">
    <div class="position-absolute text-white d-flex flex-column align-items-center justify-content-center" style="top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0,0,0,.2);">
      <h1 class="text-center my-5" id="about" style="color: #F3DE2C;"> ABOUT <span style="color: #FB6107;">US</span></h1>
    </div>
</div>

<section class="about"  id="about">
    <div class="container my-5">
       <h2 class="text-center my-5" id="about" style="color: #5C8001;"> Bale <span style="color: #FB6107;">Matwa</span></h2>
          <div class="row my-4">
 
            <div class="col">
              <div>
                <img class="picture-1 " src="../../../assets/about.jpg" width="500px" alt="">
              </div>
            </div>
            <div class="col">
              <div>
                <p class="about" style="color: #5C8001; font-weight: 500; font-size: 18px;">Holy Angel University is a private Catholic university located in Angeles City, Pampanga, Philippines. It was founded in 
                   1933 by the late Don Juan Nepomuceno as a high school for boys, and later expanded to include college programs. Throughout its history,
                    the university has faced several challenges, including the destruction of its campus during the eruption of Mount Pinatubo in 1991. 
                    However, the university was able to rebuild and continue its mission of providing quality education to students from all walks of life. 
                   Today, Holy Angel University is recognized as one of the top universities in the Philippines, offering a wide range of undergraduate and
                    graduate programs in various fields of study.</p>
              </div>
            </div>
        </div>
    </div>
  
</section>

<section class="counting" id="counting">
    <div class="counter" style="background-color: #F3DE2C;">
       <div class="container">
           <div class="row">
               <div class="col-12 col-lg-3">
                   <div class="count-up">
                       <img src="../../../assets/logo.png" height="125px" alt="">
                   </div>
               </div>
   
               <div class="col-12 col-lg-3">
                <div class="count-up">
                    <img src="../../../assets/logo.png" height="125px" alt="">
                </div>
               </div>
   
               <div class="col-12 col-lg-3">
                <div class="count-up">
                    <img src="../../../assets/logo.png" height="125px" alt="">
                </div>
               </div>
   
                <div class="col-12 col-lg-3">
                    <div class="count-up">
                        <img src="../../../assets/logo.png" height="125px" alt="">
                    </div>
               </div>
           </div>
       </div>
   </div>
</section>

<section class="about"  id="about">
    <div class="container my-5">
          <div class="row my-4">
            <div class="col">
                <h2 class="text-center my-5" id="about">  <span style="color: #5C8001;">Vision</span></h2>
                <div>
                  <p class="about" style="color: #000000; font-weight: 500; font-size: 18px;">Holy Angel University is a private Catholic university located in Angeles City, Pampanga, Philippines. It was founded in 
                     1933 by the late Don Juan Nepomuceno as a high school for boys, and later expanded to include college programs. Throughout its history,
                      the university has faced several challenges, including the destruction of its campus during the eruption of Mount Pinatubo in 1991. 
                      However, the university was able to rebuild and continue its mission of providing quality education to students from all walks of life. 
                     Today, Holy Angel University is recognized as one of the top universities in the Philippines, offering a wide range of undergraduate and
                      graduate programs in various fields of study.</p>
                </div>
              </div>
            <div class="col">
            <h2 class="text-center my-5" id="about">  <span style="color: #FB6107;">Mission</span></h2>
              <div>
                <p class="about" style="color: #000000; font-weight: 500; font-size: 18px;">Holy Angel University is a private Catholic university located in Angeles City, Pampanga, Philippines. It was founded in 
                   1933 by the late Don Juan Nepomuceno as a high school for boys, and later expanded to include college programs. Throughout its history,
                    the university has faced several challenges, including the destruction of its campus during the eruption of Mount Pinatubo in 1991. 
                    However, the university was able to rebuild and continue its mission of providing quality education to students from all walks of life. 
                   Today, Holy Angel University is recognized as one of the top universities in the Philippines, offering a wide range of undergraduate and
                    graduate programs in various fields of study.</p>
              </div>
            </div>
        </div>
    </div>
  </section>

  <section class="line">
    <div class="hr-container">
      <hr>
    </div>
   </section>

   <section class="about"  id="about">
    <div class="container my-5">
       <h2 class="text-center my-5" id="about" style="color: #5C8001;"> PROGRAMS </h2>
    </div>
  
</section>

<section class="program" id="program">
    <section class="gallery" id="galery">
        <section class="image-grid">
          <div class="container-xxl">
            <div class="row gy-4">
              <div class="col-12 col-sm-6 col-md-4">
                <figure>
                    <div class="tp-box" (click)="toggleFlip1()" [@flipState]="flip1">
                        <div class="tp-box__side tp-box__front"> <h2>PROGRAM</h2>
                        </div>
                        <div class="tp-box__side tp-box__back"><p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut vero nobis ullam? Temporibus deleniti alias officiis in, asperiores ex ad autem sequi dolorem. Tenetur praesentium quaerat ea aperiam perferendis cum?</p>
                        </div>
                    </div>
                </figure>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <figure>
                    <div class="tp-box" (click)="toggleFlip2()" [@flipState]="flip2">
                        <div class="tp-box__side tp-box__front"><h2>PROGRAM</h2>
                        </div>
                        <div class="tp-box__side tp-box__back"><p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut vero nobis ullam? Temporibus deleniti alias officiis in, asperiores ex ad autem sequi dolorem. Tenetur praesentium quaerat ea aperiam perferendis cum?</p>
                        </div>
                    </div>
                </figure>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <figure>
                    <div class="tp-box" (click)="toggleFlip3()" [@flipState]="flip3">
                        <div class="tp-box__side tp-box__front"><h2>PROGRAM</h2>
                        </div>
                        <div class="tp-box__side tp-box__back"> 
                          <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut vero nobis ullam? Temporibus deleniti alias officiis in, asperiores ex ad autem sequi dolorem. Tenetur praesentium quaerat ea aperiam perferendis cum?</p>
                        </div>
                    </div>
                </figure>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <figure>
                    <div class="tp-box" (click)="toggleFlip4()" [@flipState]="flip4">
                        <div class="tp-box__side tp-box__front"><h2>PROGRAM</h2>
                        </div>
                        <div class="tp-box__side tp-box__back"><p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut vero nobis ullam? Temporibus deleniti alias officiis in, asperiores ex ad autem sequi dolorem. Tenetur praesentium quaerat ea aperiam perferendis cum?</p>
                        </div>
                    </div>
                </figure>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <figure>
                    <div class="tp-box" (click)="toggleFlip5()" [@flipState]="flip5">
                        <div class="tp-box__side tp-box__front"><h2>PROGRAM</h2>
                        </div>
                        <div class="tp-box__side tp-box__back"><p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut vero nobis ullam? Temporibus deleniti alias officiis in, asperiores ex ad autem sequi dolorem. Tenetur praesentium quaerat ea aperiam perferendis cum?</p>
                        </div>
                    </div>
                </figure>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <figure>
                    <div class="tp-box" (click)="toggleFlip6()" [@flipState]="flip6">
                        <div class="tp-box__side tp-box__front"><h2>PROGRAM</h2>
                        </div>
                        <div class="tp-box__side tp-box__back"><p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut vero nobis ullam? Temporibus deleniti alias officiis in, asperiores ex ad autem sequi dolorem. Tenetur praesentium quaerat ea aperiam perferendis cum?</p>
                        </div>
                    </div>
                </figure>
              </div>

      
             
            </div>
          </div>
        </section>
      </section>
</section>

<footer>
  <div class="footer-top">
    <div class="container">
      <div class="footer-day-time">
        <div class="row">
          <div class="col-md-8">
            <ul>
              <li>Opening Hours: Mon - Friday: 8AM - 5PM</li>
              <li>Sunday: 8:00 AM - 12:00 PM</li>
            </ul>
          </div>
          <div class="col-lg-4">
            <div class="phone-no">
              <a href="tel:+12 34 56 78 90"><i class="fa fa-mobile" aria-hidden="true"></i>Call +12 34 56 78 90</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">

       <img src="../../../assets/logo.png" height="150px" alt="">

        </div>

        <div class="col-md-4">
          <h4>Information</h4>
          <ul class="address1">
            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Lorem Ipsum 132 xyz Lorem Ipsum</li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:#">info@test.com</a></li>
            <li><i class="fa fa-mobile" aria-hidden="true"></i> <a href="tel:12 34 56 78 90">12 34 56 78 90</a></li>
          </ul>
        </div>


      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <p class="copyright text-uppercase">Copyright © 2018
          </p>
        </div>
        <div class="col-sm-7">
          <ul>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="/gallery">Gallery</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>


