<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<header>
  <div class="wrapper">
        <nav class="navbar navbar-expand-lg fixed-top" id="navigation" style="background-color: #ffffff;">
        <div class="container">
           <a routerLinkActive="active" routerLink=""><img src="../assets/logo.png" height="100" alt="Holy Angel University Logo"></a>
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"  aria-expanded="false" aria-label="Toggle navigation" >
              <span class="navbar-toggler-icon"></span>
           </button>
           
           <div class="collapse navbar-collapse" id="main_nav">
              <ul class="container navbar-nav mr-auto w-100 justify-content-end">
                 <li class="nav-item active mx-3">
                  <a class="nav-link" routerLink="">Home</a>
                 </li>
                 <li class="nav-item mx-3">
                  <a class="nav-link" routerLink="/about">About</a>
                 </li>
                 <li class="nav-item mx-3">
                  <a class="nav-link" routerLink="/contact">Contact</a>
                 </li>
                 <li class="nav-item mx-3">
                  <a class="nav-link"  routerLink="/gallery">Gallery</a>
                 </li>
                 
              </ul>
           </div>
        </div>
        </nav>
  </div>
</header>






<section class="cover" id="cover">
   
<div class="hero-content">
   <div class="d-sm-flex align-items-center justify-content-between w-100" style="height: 100vh; background-color: #ffffff; font-weight: 500;">
      <div class="container" style="color: #5C8001">
         <div class="col-md-6 mx-auto mb-4 mb-sm-0 headline">
            
            <h1 class="display-10 my-5 font-weight-bold" id="title" >BALE <span style="color: #FB6107;">MATWA</span></h1>
            <div class="seemore">
               <a routerLink="/about" class="btn px-5 py-3 mt-3 mt-sm-0" type="button" id="hero-button" style="border-radius: 30px; background-color: #F3C408; ">GET STARTED</a>
            </div>
            
          </div>

      </div>
      <div class="col-md-6 h-100 clipped" style="min-height: 350px; background-image: url(../../../assets/header.jpg); background-position: center; background-size: cover;">
    
      </div>
    </div>
 </div>
</section>

  <section class="about"  id="about">
   <div class="container my-5">
      <h2 class="text-center my-5" id="about" style="color: #5C8001;"> About <span style="color: #FB6107;">Us</span></h2>
         <div class="row my-4">

           <div class="col">
             <div>
               <img class="picture-1 " src="../../../assets/about.jpg" width="500px" alt="">
             </div>
           </div>
           <div class="col">
             <div>
               <p class="about">Holy Angel University is a private Catholic university located in Angeles City, Pampanga, Philippines. It was founded in 
                  1933 by the late Don Juan Nepomuceno as a high school for boys, and later expanded to include college programs. Throughout its history,
                   the university has faced several challenges, including the destruction of its campus during the eruption of Mount Pinatubo in 1991. 
                   However, the university was able to rebuild and continue its mission of providing quality education to students from all walks of life. 
                  Today, Holy Angel University is recognized as one of the top universities in the Philippines, offering a wide range of undergraduate and
                   graduate programs in various fields of study.</p>
             </div>
             <div class="about">
               <a routerLink="/about" class="btn px-5 py-2 mt-1 mt-sm-0" type="button" id="about-button" style="border-radius: 30px; background-color: #F3C408; ">About Us</a>
            </div>
           </div>
       </div>
   </div>


 </section>
 
<section class="counting" id="counting">
   <div class="counter" style="background-color: #134611;">
      <div class="container">
          <div class="row">
              <div class="col-12 col-lg-3">
                  <div class="count-up">
                      <p class="counter-count">100</p>
                      <h4>Official Homes</h4>
                  </div>
              </div>
  
              <div class="col-12 col-lg-3">
                  <div class="count-up">
                      <p class="counter-count">200</p>
                      <h4>No. Elderly</h4>
                  </div>
              </div>
  
              <div class="col-12 col-lg-3">
                  <div class="count-up">
                      <p class="counter-count">300</p>
                      <h4>Official Affilition</h4>
                  </div>
              </div>
  
               <div class="col-12 col-lg-3">
                 <div class="count-up">
                      <p class="counter-count">400</p>
                      <h4>Donations</h4>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="gallery" id="galery">
   <h1 class="text-center mb-4" style="color: #F3C408;">Gallery</h1>
   <section class="image-grid">
     <div class="container-xxl">
       <div class="row gy-4">
         <div class="col-12 col-sm-6 col-md-4">
           <figure>
             <img
               width="1920"
               height="1280"
               src="../../../assets/picture1.jpg"
               class="img-fluid"
               alt="nursing-aid"
               data-caption="nursing-aid"
             />
           </figure>
         </div>
         <div class="col-12 col-sm-6 col-md-4">
           <figure>
             <img
               width="1920"
               height="1280"
               src="../../../assets/picture2.jpg"
               class="img-fluid"
               alt="nursing-aid"
               data-caption="nursing-aid"
             />
           </figure>
         </div>
         <div class="col-12 col-sm-6 col-md-4">
           <figure>
             <img
               width="1920"
               height="1280"
               src="../../../assets/picture3.jpg"
               class="img-fluid"
               alt="nursing-aid"
               data-caption="nursing-aid"
             />
           </figure>
         </div>
         <div class="col-12 col-sm-6 col-md-4">
           <figure>
             <img
               width="1920"
               height="1280"
               src="../../../assets/picture4.jpg"
               class="img-fluid"
               alt="nursing-aid"
               data-caption="nursing-aid"
             />
           </figure>
         </div>
         <div class="col-12 col-sm-6 col-md-4">
           <figure>
             <img
               width="1920"
               height="1280"
               src="../../../assets/picture5.jpg"
               class="img-fluid"
               alt="nursing-aid"
               data-caption="nursing-aid"
             />
           </figure>
         </div>
         <div class="col-12 col-sm-6 col-md-4">
           <figure>
             <img
               width="1920"
               height="1280"
               src="../../../assets/picture6.jpg"
               class="img-fluid"
               alt="nursing-aid"
               data-caption="nursing-aid"
             />
           </figure>
         </div>
         <div class="col-12 col-sm-6 col-md-4">
           <figure>
             <img
               width="1920"
               height="1280"
               src="../../../assets/picture7.jpg"
               class="img-fluid"
               alt="nursing-aid"
               data-caption="nursing-aid"
             />
           </figure>
         </div>
         <div class="col-12 col-sm-6 col-md-4">
           <figure>
             <img
               width="1920"
               height="1280"
               src="../../../assets/picture8.jpg"
               class="img-fluid"
               alt="nursing-aid"
               data-caption="nursing-aid"
             />
           </figure>
         </div>
         <div class="col-12 col-sm-6 col-md-4">
           <figure>
             <img
               width="1920"
               height="1200"
               src="../../../assets/picture9.jpg"
               class="img-fluid"
               alt="nursing-aid"
               data-caption="nursing-aid"
             />
           </figure>
         </div>
       </div>
     </div>
   </section>
 </section>


 <section class="line">
 <div class="hr-container">
   <hr>
 </div>
</section>
<app-add-name></app-add-name>
<footer>
  <div class="footer-top">
    <div class="container">
      <div class="footer-day-time">
        <div class="row">
          <div class="col-md-8">
            <ul>
              <li>Opening Hours: Mon - Friday: 8AM - 5PM</li>
              <li>Sunday: 8:00 AM - 12:00 PM</li>
            </ul>
          </div>
          <div class="col-lg-4">
            <div class="phone-no">
              <a href="tel:+12 34 56 78 90"><i class="fa fa-mobile" aria-hidden="true"></i>Call +12 34 56 78 90</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">

       <img src="../../../assets/logo.png" height="150px" alt="">

        </div>

        <div class="col-md-4">
          <h4>Information</h4>
          <ul class="address1">
            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Lorem Ipsum 132 xyz Lorem Ipsum</li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:#">info@test.com</a></li>
            <li><i class="fa fa-mobile" aria-hidden="true"></i> <a href="tel:12 34 56 78 90">12 34 56 78 90</a></li>
          </ul>
        </div>


      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <p class="copyright text-uppercase">Copyright © 2018
          </p>
        </div>
        <div class="col-sm-7">
          <ul>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="/gallery">Gallery</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>


